<div fxLayout="column" fxFlex="40%" >
    <mat-card fxLayout="row" fxFlex="100%">
        <div>
            {{movieList}}
        </div>

    </mat-card>
    <mat-card fxLayout="row" fxFlex="100%" >
        <div>
            {{movieList}}
        </div>

    </mat-card>
    <mat-card fxLayout="row" fxFlex="100%">
        <div>
            {{movieList}}
        </div>

    </mat-card>
    <mat-card fxLayout="row" fxFlex="100%">
        <div>
            {{movieList}}
        </div>

    </mat-card>
    <mat-card fxLayout="row" fxFlex="100%">
        <div>
            {{movieList}}
        </div>

    </mat-card>
    <mat-card fxLayout="row" fxFlex="100%">
        <div>
            {{movieList}}
        </div>

    </mat-card>
</div>

<div fxLayout="column" fxFlex="60%">
    <mat-card fxLayout="row" fxFlex="100%">
        <mat-card-title fxLayoutAlign="left">
                <img height="300px" width="200px" src="https://media.rbl.ms/image?u=%2Ffiles%2F2017%2F01%2F12%2F636197803362845005-554267949_movies%25202.jpg&amp;ho=https%3A%2F%2Faz616578.vo.msecnd.net&amp;s=344&amp;h=b101adb89681f16081be2c96f86b4890451ae87eabf30f746d617c4a16819ba3&amp;size=980x&amp;c=3725048059)">
        </mat-card-title>
        <mat-card-subtitle fxLayoutAlign="right">
            <div>
                    {{movieList}}
                </div>
        </mat-card-subtitle>
        <mat-card-content fxLayoutAlign="right">
            Hey
        </mat-card-content>
    </mat-card>
</div>